body {
	background-color: #291c2d;
	color: white;
	font-size: 18px;
	font-family: 'Comfortaa';
	background-image: linear-gradient(rgba(0,0,0,1), rgba(38, 24, 45, 0.01));
	}

h1, h2, h3, h4, h5, h6	{
	font-family: 'Lemon/Milk';
	text-shadow: 0px 0px 15px #1F51FF;
}
h1{
	font-size: 55px;
}
.grid-title-container {
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 30px;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 50px;
}
.pc-chan-title {
	margin-top: 19%;
}
.lore-bit {
	padding: 10px;
}
.lore-bit p {
	margin-left: 20px;
}
.navigation-bar {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	border-bottom: 2px solid white;
	border-collapse: collapse;
	background-image: linear-gradient(to bottom, #3b2745, #4c4052);
}
.navigation-bar a{
	display: block;
	float: left;
	border-right: 2px solid white;
	border-collapse: collapse;
	font-family: 'Lemon/Milk';
	text-shadow: 0px 0px 15px #1F51FF;
	color: white;
	padding: 5px;
	text-decoration: none;
	font-size: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
.navigation-bar a:hover{
	background-image: linear-gradient(to bottom, rgba(49, 29, 59, 1), rgba(66, 54, 72, 1));
}
.outfit-bit {
	padding: 10px;
	padding-left: 30px;
}
.outfits{
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	column-gap: 10px;
}